* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  background-image: url('./assets/img/abstract-dark-wallpaper.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white !important;
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 800px;
  min-height: 600px;
  background: black;
  text-align: center;
  margin: 32px auto;
  border-radius: 20px;
  padding-bottom: 32px;
}

/* nav */
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  transition: 0.32 ease-in-out;
  font-size: 20px;
}

#custom-logo {
  max-width: 160px;
  max-height: 110px;
}

nav #github {
  background-color: white;
  border-radius: 50%;
  margin: 7px;
}

nav #linkedin {
  background-color: white;
  border-radius: 50%;
  margin: 7px;
}

.navbar a {
  color: white;
}

.navbar-nav .nav-link.active {
  color: #BF1922 !important;
}

nav.navbar.scrolled {
  padding: 0px 0;
  background-color: whitesmoke;
}

span.navbar-text {
  display: flex;
  align-items: center;
}

.navbar-text button {
  font-weight: 700;
  color: white;
  border: 1px solid white;
  padding: 18px 34px;
  font-size: 20px;
  margin-left: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3 ease-in-out;
}

.navbar-text button span {
  z-index: 1;
}

h1 h2 h3 h4 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

.header img {
  height: 100%;
  width: 100%;
  z-index: -999;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* about */
.about .tagline {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.7px;
  padding: 8px 10px;
  margin-bottom: 16px;
  background: #851419;
  border: 1px solid black;
  display: inline-block;
}

.about h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}

.about p {
  color: white;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}

.about img {
  height: 260px;
  width: 200px;
  border-radius: 60%;
}

/* project */
.project, .contact, .about {
  margin-top: 0;
  position: relative;
  padding: 260px 0 100px 0;
}

.project #github {
  background-color: white;
  border-radius: 50%;
}

/* card */
.card {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 24px;
}

.card::before {
  content: "";
  background: linear-gradient(90.21deg, #808080 -7%, #BF1922 105%);
  opacity: 0.4;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}

.card:hover::before {
  height: 100%;
}

.card-text {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s ease-in-out;
  opacity: 0;
  width: 100%;
}

.card:hover .card-text {
  top: 50%;
  opacity: 1;
}

.card-text span {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
}

.card-text h4 {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1em;
}

/* contact */
.contact h2 {
	font-size: 40px;
	font-weight: 700;
  margin-bottom: 30px;
}

.col-md-6 {
  width: 100% !important;
}

.contact form input, .contact form textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 15px;
  color: #fff;
  margin: 0 0 8px 4px;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.9px;
  transition: 0.6s ease-in-out;
}

.contact form input:focus, .contact form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}

.contact form input::placeholder, .contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.contact form input:focus::placeholder, .contact form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}

.contact form button {
  font-weight: 700;
  color: #000;
  background-color: #fff;
  padding: 14px 48px;
  font-size: 20px;
  margin-top: 25px;
  position: relative;
  transition: 0.3s ease-in-out;
}

.contact form button span {
  z-index: 1;
  position: relative;
}

.contact form button:hover {
  color: #fff;
}

.contact form button::before {
  content: "";
  background: #121212;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}

.contact form button:hover::before {
  width: 100%;
}

/* footer */
.footer {
  padding: 260px 0 100px 0;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer img {
  background-color: white;
  border-radius: 50%;
  max-width: 120px;
  max-height: 120px;
  margin: 20px;
}

.footer p {
  font-weight: 700;
  font-size: 18px;
  color: white;
  letter-spacing: 0.5px;
  margin-top: 20px;
}